@*@model IEnumerable<Associations.Models.Card>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DeckId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CardNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpecificSubject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Facts)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Question)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Answer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fileInput)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DeckId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CardNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SpecificSubject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Facts)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Question)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Answer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fileInput)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })

        </td>
    </tr>
}

</table>*@




@{
    ViewBag.Title = "View";
}

<div class="page-header">
    <h1>Cards </h1>
    <h2 class="panel-title">Card<span class="text-right" data-bind="text: CardNumber"></span></h2>
</div>
<div>
    <h2>Search by ID</h2>
    <input type="text" id="prodId" size="5" />
    <input type="button" value="Search" onclick="find();" />
    <p id="product" />
</div>
<div class="row">
    <div data-bind="foreach: Cards">
        <div class="col-md-3">
            <div data-bind='attr:{id: "card-"+ CardNumber}, click: $parent.getid(CardNumber)' class="card">
                <input type="hidden" class="category" data-bind="text: Category">
                <div class="front">
                    <img class="img-responsive" data-bind="attr:{src: fileInput}" />
                    <h2 class="panel-title">Card<span class="text-right" data-bind="text: CardNumber"></span></h2>
                </div>
                <div class="back">
                    <div class="row">
                        <div class="col-lg-2">Facts:</div><div class="col-lg-10" data-bind="text: Facts"></div>
                        <div class="col-lg-2">Question:</div><div class="col-lg-10" data-bind="text: Question"></div>
                        <div class="col-lg-2">Answer:</div><div class="col-lg-10" data-bind="text: Answer"></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <pre data-bind="text: ko.toJSON($data, null, 2)"></pre>
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/flip.js"></script>
<script src="~/Scripts/knockout-3.4.2.js"></script>
<script src="~/Scripts/knockoutjs-file-binding.js"></script>
<script src="~/Scripts/app-alter.js"></script>

<script src="~/Scripts/bootstrap.min.js"></script>
